<!DOCTYPE html> 
<html lang= "en">

<head>
	<title>fusionby2030</title>
	<!--stylesheets-->
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
	<!--Future Google analytics :)-->
</head>
<body>
	{% block body %}
	{% endblock %}
</body>

<footer>
	<p style="margin-top:4cm;"></p>
	{% block footer %}
	{% endblock %}
	<!--CAN ADD HERE ANOTHER BLOCK FOR EACH PAGE?? LOOK INTO IF ELSE BLOCKS?-->
	<p>root@fusionby2030:~$ <span class="typewriter">Leipzig_DE </span></p>
	<hr>
	18052020 <a href="/">home</a> <a href="mailto:adamkit11@gmail.com">contact</a> <a href="https://github.com/fusionby2030" target="_blank">github</a>
</footer>

